@page
@model ReservationListModel
@{
    ViewData["Title"] = "Reservations";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<p>@ReservationListModel.startDate</p>
@foreach (var reservation in ReservationListModel.ReservationList)
{
    <p>@reservation.ReservationStartDate</p>
    <br>
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong> Success - </strong>@TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float:right;"></button>
    </div>
}

<form method="get" asp-page-handler="DateFilter">
    <div class="input-group">
        <input class="form-control" asp-for="DateFilter"
            placeholder="Select the beginning of the week you want to see reservations" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Filter</button>
        </div>
    </div>
</form>

<table class="table-border table table-striped table-bordered mt-5">
    <thead>
        <tr class="table-effect">
            <th></th>
            @{
                var i = ReservationListModel.startDate;
            }
            <th>@i.ToString("dd/MM/yyyy")</th>
            <th>@i.AddDays(1).ToString("dd/MM/yyyy")</th>
            <th>@i.AddDays(2).ToString("dd/MM/yyyy")</th>
            <th>@i.AddDays(3).ToString("dd/MM/yyyy")</th>
            <th>@i.AddDays(4).ToString("dd/MM/yyyy")</th>
            <th>@i.AddDays(5).ToString("dd/MM/yyyy")</th>
            <th>@i.AddDays(6).ToString("dd/MM/yyyy")</th>

        </tr>
    </thead>
    <tbody>

        @{
            int temp = 0;
        }
        @for (int j = 0; j < 24; j++)
        {
            <tr>
                <th>@j:00</th>
                @for (int z = 1; z < 8; z++)
                {
                    <td>
                        @{
                            temp = 0;
                        }
                        @foreach (var reservation in ReservationListModel.ReservationList)
                        {
                            if ((int)reservation.ReservationStartDate.DayOfWeek == z)
                            {
                                if (reservation.ReservationStartDate.Hour <= j && reservation.ReservationEndDate.Hour >= j)
                                {
                                    temp = 1;
                                    foreach (var user in ReservationListModel.UserList)
                                    {
                                        if (reservation.UserId == user.Id)
                                        {
                                            <div class="boxDiv" style="display:flex">
                                                <div style="flex:1;">
                                                    @reservation.Room.RoomName <br><br> @user.UserName
                                                </div>

                                                @if (user.Id == ReservationListModel.userId)
                                                {
                                                    <div style="border-left:1px dashed green; margin-left:1px;margin-right:5px;"></div>
                                                    <div style="text-align: right; margin-left:auto">
                                                        <a class="btn btn-primary " asp-page="/EditReservation" asp-route-id="@reservation.Id"
                                                            style="text-align:center"> U </a>
                                                        <br>
                                                        <br>
                                                        <form method="post" asp-page-handler="Delete" asp-route-id="@reservation.Id">
                                                            <button class="btn btn-danger " style="text-align:center">D</button>
                                                        </form>
                                                    </div>
                                                }

                                            </div>


                                        }

                                    }
                                }

                            }


                        }
                        @if (temp == 0)
                        {
                            <p>-</p>

                        }

                    </td>
                }

            </tr>

        }

    </tbody>
</table>
